<!DOCTYPE html>
<html>

    <head>
        <title>Django Central</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
    </head>

    <body>
        <style>
            body {
            font-family: "Roboto", sans-serif;
            font-size: 17px;
            background-color: #fdfdfd;
        }
        .shadow {
            box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
        }
        .btn-danger {
            color: #fff;
            background-color: #f00000;
            border-color: #dc281e;
        }

    </style>

        <nav class="navbar navbar-expand-md navbar-dark navbar-light bg-dark px-2 px-sm-0 py-0 pb-sm-3 pb-md-0 py-sm-2">
            <div class="container-fluid white">
                <h3 style="color:white">Search for prispevok by prispevok id or author id</h3>
                <form action="{% url "prispevok" %}" class="form-inline" method="get">
                   <div class="form-group mx-sm-3 mb-2">
                    <label for="" class="sr-only">search</label>
                    <input name="search_pid" type="" class="form-control mx-sm-3" id="pid" placeholder="prispevok id">
                    <input name="search_author" type="" class="form-control mx-sm-3" id="author" placeholder="author id">
                    <button type="submit" class="btn btn-light btn-rounded">Search</button>
                       </div>
               </form>
            </div>
        </nav>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
        <!-- Footer -->
    </body>
</html>