{% extends "base.html" %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    .masthead {
        background: dimgray;
        height: auto;
        padding-bottom: 15px;
        box-shadow: 0 16px 48px #E3E7EB;
        padding-top: 10px;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }

</style>


<header class="masthead" style="color:dimgray">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Posts taken from database for current user</h3>
                     <h3 class=" site-heading my-4 mt-3 text-white"> To create prispevok, click: </h3>
                    <form action="{% url 'create' %}" class="form-inline">
                        <small>
                        <button type="submit" class="btn btn-dark btn-rounded">
                            Create
                        </button>
                    </small>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-12 mt-3 center">
            {% for prispevok in prispevok_list %}
            <div class="card mb-4">
            <form action="{% url 'prispevok_detail' prispevok.id %}" class="form-inline" method="get">
                <div class="card-body">
                    <h2 class="card-title">{{ prispevok.title }}</h2>
                    <p class="card-text text-muted h6">{{ prispevok.author }}</p>
                    <p class="card-text">{{prispevok.body|slice:":200" }}</p>
                    <small>
                        <button type="submit" class="btn btn-dark btn-rounded">
                            Detail
                        </button>
                    </small>
                </div>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}