{% extends 'base.html' %} {% block content %}
    <style>
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }

</style>
    <br/></br/>
    <div class="container">
        <div class="col-md-8 offset-md-2">
        <div class="list-group">
        <a class="mr-2" href="#">{{ object.author }}</a>
        {% if query %}
            {% if query == 'created' %}
                <h2>Prispevok was created successfully</h2>
            {% elif  query == 'notcreated' %}
                <h2>Creating prispevok failed</h2>
            {% elif query == 'deleted' %}
                <h2>Prispevok was deleted</h2>
            {% elif query == 'empty-value' %}
                <h2>Prispevok id alebo Author id must be an integer value</h2>
            {% else %}
               <h2>
               {% with results|length as total_results %}
               Found {{ total_results }} result{{ total_results|pluralize }}
               {% endwith %}
               </h2>
                {% endif %}
            {% for object in results %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">{{ object.title }}</h2>
                        <p class="card-text text-muted h6">{{ object.author }}</p>
                        <p class="card-text">{{object.body|slice:":200" }}</p>
                    </div>
                </div>
                <form action="{% url 'delete_prispevok' object.id %}" class="form-inline" method="get">
                    <button type="submit" class="btn btn-dark btn-rounded" style="margin: 20px;">Delete</button>
                </form>
                {% empty %}
                <h3>No results found.</h3>
            {% endfor %}
        {% endif %}
        <form action="{% url 'home' %}" class="form-inline" method="get">
        <button type="submit" class="btn btn-dark btn-rounded" style="margin: 20px;">Back</button>
        </form>

    </div>
    </div>
    </div>

{% endblock content %}