{% extends 'base.html' %} {% block content %}
{% if query == 'fail' %}
          <div class="alert alert-danger col-md-4 mt-3 center" role="alert">
            You need to input body and title as well.
          </div>
      {% endif %}
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left top">
      <div class="card-body">
        <h1>{{ prispevok.title }}</h1>
        <p class=" text-muted">{{ prispevok.author }}</p>
        <p class="card-text ">{{ prispevok.body | safe }}</p>
      </div>
    </div>

      <form action="{% url 'prispevok_update' prispevok.id %}"  class="form-inline" method = "POST">
    {% csrf_token %}
            <input type = "text" style = "margin-left:20%;"
                  placeholder = "Prispevok title" name = "title" />
            <input type = "text" style = "margin-left:20%;"
                  placeholder = "Prispevok body" name = "body" />
     <button type="submit" class="btn btn-dark btn-rounded" style="margin: 20px;">Update</button>
        </form>
  </div>
       <form action="{% url 'home' %}" class="form-inline" method="get">
        <button type="submit" class="btn btn-dark btn-rounded" style="margin: 20px;">Back</button>
        </form>

</div>

{% endblock content %}